.apresentacao {
    display: flex;
    justify-content: center;
    padding: 4px 7px;
    background-color: rgb(196, 142, 247);
}

.apresentacao img {
    width: 15%;
    margin: 20px;
}

.textos {
    display: block;
    text-align: left;
    
}